.billionaire-list {
  margin-bottom: 50px;
  margin-top: 50px;
  position: absolute;
  left: 300px;
  max-width: 33.33px;
  float: left;
  padding: 10px;
  border-radius: 8px;
  max-height: 400px;
  min-height: 400px;

  h1,
  h2,
  h3 {
    text-align: left;
    color: #0000FF;
    font-size: large;
  }

  p {
    font-size: small;
    letter-spacing: 1px;
  }

  span {
    text-align: left;
    font-size: medium;
  }
}

.filter-container {
  margin: auto;
  display: block;
  width: 60%;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}