.billionaire-list {
  // // flex-grow: 1;
  // display: flex;
  // align-items: flex-start;
  // // justify-content: center;
  position: absolute;
  left: 200px;
  width: 40px;
  // height: 120px;
}

.billionaire-list {

  h1,
  h2,
  h3 {
    text-align: left;
    color: #0000FF
  }
}