.hero {
  flex-grow: 1;
  // display: flex;
  align-items: center;
  // justify-content: center;

  text-align: justify;
  display: inline-block;
  width: 100%;

  .hero-container {

    >p,
    h1,
    .btn {
      color: #85bb65;
      font-weight: bold;
      margin-right: 11px
    }

    border-radius: 8px;
    padding: 30px;
  }
}