.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .hero-container {

    p,
    h1,
    .btn {
      font-weight: bold;
      margin-right: 11px;
      letter-spacing: 2px;
    }

    p, h1 {
      color: $main-text-colour;
    }

    .btn {
      color: #fff
    }

    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.hiding {
  // hiding nav bar off home page
  display: none !important
}