.middle-container {
  width: calc(33.33% - 20px);
  // height: 80vh;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-left: auto;

}


// .Card-Img {
//   // width: calc(33.33% - 10px);

// }

// .Card.Img {}

.card-body {
  padding: 0;
}